{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
    <br>
        <h2>Category : {{ product.category.name }}</h2>
        <h3>SubCategory : {{ product.subcategory }} </h3>
        <h3> Align-To : {{ product.align }}</h3>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Contact If You Know More">
        </form>
        {{ product.description|linebreaks }}
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
{% endblock %}